SERVER_PORT=8888

APIM_BASEURL=https://apim.bct.gov.in
APIM_TIMEOUTMILLISECONDS=10000

APIM_CLIENT_ID=tpa-service-client-id
APIM_CLIENT_SECRET=your-secure-client-secret
APIM_CLIENT_SCOPE=apim.read,apim.write
APIM_TOKEN_URI=https://auth.internal.orsobiz.com/oauth2/token

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
