SERVER_PORT=8888
SPRING_CLOUD_CONFIG_ENABLED=false

APIM_BASEURL=https://your-apim-base-url
APIM_TIMEOUTMILLISECONDS=10000
APIM_CERTIFICATE=
APIM_ENCRYPTION_ENABLED=true
APIM_AES_KEY=
APIM_PUBLIC_KEY_PEM=
APIM_PRIVATE_KEY_PEM=

APIM_CLIENT_ID=tpa-service-client-id
APIM_CLIENT_SECRET=your-secure-client-secret
APIM_CLIENT_AUTH_METHOD=client_secret_basic
APIM_CLIENT_SCOPE=resource.READ
APIM_TOKEN_URI=https://your-token-uri
